<div *ngIf="commerce">
    <h2>{{commerce.nomCommerce}}</h2>
</div>
<div *ngIf="!commerce">
    <h2>Nouveau commerce</h2>
</div>
<div>
    <form [formGroup]="editCommerceForm">
        <p>
            <label>
                Nom :
                <input type="text" formControlName="nomCommerce" required>
            </label>
        </p>
        <div formGroupName="adresse">
            <h5>
                Adresse :
            </h5>
            <p>
                <label>
                    Rue :
                    <input type="text" formControlName="rue" required>
                </label>
            </p>
            <p>
                <label>
                    Numéro :
                    <input type="text" formControlName="numero" required>
                </label>
            </p>
            <p>
                <label>
                    Code postal :
                    <input type="text" formControlName="codePostal" required>
                </label>
            </p>
        </div>
    </form>
    <app-actualite></app-actualite>
    <app-horaire></app-horaire>
    <div class="buttonFlex">
        <button class="btn btn-lg btn-primary" (click)="save()" [disabled]="!editCommerceForm.valid">Enregistrer</button>
        <button class="btn btn-lg btn-primary" (click)="goBack()">Retour</button>
        <button *ngIf="commerce" class="btn btn-lg btn-primary" (click)="delete()">Supprimer</button>
    </div>
</div>