<div *ngIf="commerce">
    <h2>{{commerce.nomCommerce}}</h2>
</div>
<div *ngIf="!commerce">
    <h2>Nouveau commerce</h2>
</div>
<div>
    <form [formGroup]="editCommerceForm">
        <p>
            <label>
                Nom :
                <input type="text" formControlName="nomCommerce" required>
            </label>
        </p>
        <form [formGroup]="formCategorie">
            <p>
                <label>
                    Catégorie :
                    <select formControlName="categorie">
                        <option *ngFor="let cat of categories; let i=index" [ngValue]="i">
                            {{cat.nom}}
                        </option>
                    </select>
                </label>
            </p>
        </form>
        
        <h5>
            Adresse :
        </h5>
        <p>
            <label>
                Rue :
                <input type="text" formControlName="rue" required>
            </label>
        </p>
        <p>
            <label>
                Numéro :
                <input type="text" formControlName="numero" required>
            </label>
        </p>
        <p>
            <label>
                Adresse mail :
                <input type="text" formControlName="adresseMail" required>
            </label>
        </p>
        <p>
            <label>
                Telephone mobile :
                <input type="text" [formControl]="telephoneMobile">
            </label>
        </p>
        <p>
            <label>
                Telephone fixe :
                <input type="text" [formControl]="telephoneFixe">
            </label>
        </p>
        <p>
            <label>
                Description :
                <input type="text" [formControl]="description">
            </label>
        </p>
        <p>
            <label>
                Produit phare :
                <input type="text" [formControl]="produitPhare" >
            </label>
        </p>
        <p>
            <label>
                Parcours produit phare :
                <input type="text" [formControl]="parcoursProduitPhare" >
            </label>
        </p>
        <p>
            <label>
                Page facebook :
                <input type="text" [formControl]="urlPageFacebook">
            </label>
        </p>
    </form>
    <h3>Photo(s) :</h3>
    <div *ngIf="commerce">
        <div *ngIf="commerce.imageCommerce">
            <div *ngFor="let photo of commerce.imageCommerce">
                <img class="images" src="{{photo.url}}"/> 
            </div>
        </div>
    </div>

    <div>
        <!--- upload d'une image --->
        <form [formGroup]="uploadImage">
            <div>
                <p>Upload one or more files using this form:</p>
                <input type="file" [formControl]="file"/>
                <button (click)="upload()">Upload</button>
            </div>
        </form> 
    </div>

    <app-actualite></app-actualite>
    <div *ngIf="commerce">
        <div *ngIf="commerce.openingPeriod">
            <app-horaire [openingPeriod]='commerce.openingPeriod'></app-horaire>
        </div>
    </div>
    <div class="buttonFlex">
        <button class="btn btn-lg btn-primary" (click)="save()" [disabled]="!editCommerceForm.valid">Enregistrer</button>
        <button class="btn btn-lg btn-primary" (click)="goBack()">Retour</button>
        <button *ngIf="commerce" class="btn btn-lg btn-primary" (click)="delete()">Supprimer</button>
    </div>
</div>