<h3>Mon compte :</h3>
<div *ngIf="user">
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th></th>
            <th>Infos</th>
          </tr>
        </thead>
        <tbody class="commerces">
            <tr>
              <th>Username</th><td>{{user.userName}}</td>
            </tr>
            <tr>
                <th>Id</th><td>{{user.id}}</td>
              </tr>
            <tr>
                <th>Mail</th><td>{{user.email}}</td>
              </tr>
            <tr>
              <th>Role(s)</th><td>{{this.roles}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
