<div *ngIf="canCheckForm">
    <div *ngIf="!editActualiteForm.valid" class="p-3 mb-2 bg-danger text-white">
        <div *ngIf="editActualiteForm.get('libelle').invalid && editActualiteForm.get('libelle').errors.required">Le libellé est requis</div>
    </div>
</div>
<div *ngIf="actualite">
    <h2>{{actualite.libelle}}</h2>
</div>
<div *ngIf="!actualite">
    <h2>Nouvelle actualitée </h2>
</div>

<div>
    <form [formGroup]="editActualiteForm">
        <p>
            <label>
                Libellé :
                <input type="text" formControlName="libelle" placeholder="Soldes de janvier !">
            </label>
        </p>    
        <p>
            <label>
                Texte :
                <input type="text" formControlName="texte" placeholder="-50% sur tous les articles">
            </label>
        </p>
        <p>
            <label>Date:</label>

            <input type="date" formControlName="dateActu"
                    [ngModel]="today | date:'yyyy-MM-dd'"  
                    name="dt" 
                    class="form-control form-control-rounded" #searchDate>
        </p>
    </form>
      
    <div class="buttonFlex">
        <button class="btn btn-lg btn-primary" (click)="save()">Enregistrer</button>
        <button class="btn btn-lg btn-primary" (click)="goBack()">Retour</button>
    </div>
</div>