.buttonFlex{
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-left:2%;
    margin-right:2%;
}

.images{
    width:500px;
}

.ng-valid[required], .ng-valid.required  {
border-bottom: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
border-bottom: 5px solid #a94442; /* red */
}