<div *ngIf="canCheckForm">
    <div *ngIf="!editCommerceForm.valid" class="p-3 mb-2 bg-danger text-white">
        <div *ngIf="editCommerceForm.get('nomCommerce').invalid && editCommerceForm.get('nomCommerce').errors.required">Le nom du commerce est requis</div>
        <div *ngIf="editCommerceForm.get('rue').invalid && editCommerceForm.get('rue').errors.required" [class]>La rue est requise</div>
        <div *ngIf="editCommerceForm.get('rue').invalid && editCommerceForm.get('rue').errors.minlength">La rue doit comporter au minimum 5 caractères</div>
        <div *ngIf="editCommerceForm.get('adresseMail').invalid && editCommerceForm.get('adresseMail').errors.required">L'adresse email est requise</div>
        <div *ngIf="editCommerceForm.get('numero').invalid && editCommerceForm.get('numero').errors.required">Le numéro est requis</div>
    </div>
</div>

<div *ngIf="commerce">
    <h2>{{commerce.nomCommerce}}</h2>
</div>
<div *ngIf="!commerce">
    <h2>Nouveau commerce</h2>
</div>
<div>
    <form [formGroup]="editCommerceForm">
        <p>
            <label>
                Nom :
                <input type="text" formControlName="nomCommerce" required placeholder="Ex: Le chamonix">
            </label>
        </p>
        <form [formGroup]="formCategorie">
            <p>
                <label>
                    <div *ngIf="commerce">
                            Catégorie :
                            <select formControlName="categorie" [(ngModel)]="categorieSelectionnee">
                                <option *ngFor="let cat of categories" [ngValue]="cat">
                                        {{cat.nom}}
                                </option>
                            </select>
                    </div>
                </label>
            </p>
        </form>
        
        <h5>
            Adresse :
        </h5>
        <p>
            <label>
                Rue :
                <input type="text" formControlName="rue" required placeholder="Ex : Rue de la Buyère">
            </label>
        </p>
        <p>
            <label>
                Numéro :
                <input type="number" formControlName="numero" required placeholder="Ex : 6">
            </label>
        </p>
        <p>
            <label>
                Adresse mail :
                <input type="text" formControlName="adresseMail" required placeholder="Ex : lechamonix@gmail.be">
            </label>
        </p>
        <p>
            <label>
                Telephone mobile :
                <input type="text" [formControl]="telephoneMobile" placeholder="Ex : 0473 22 70 88">
            </label>
        </p>
        <p>
            <label>
                Telephone fixe :
                <input type="text" [formControl]="telephoneFixe" placeholder="Ex : 082 74 52 20">
            </label>
        </p>
        <p>
            <label>
                Description :
                <input type="text" [formControl]="description" placeholder="Ex : Le chamonix est un restaurant traditionelle proposant des fondues ...">
            </label>
        </p>
        <p>
            <label>
                Produit phare :
                <input type="text" [formControl]="produitPhare" placeholder="Ex : La fondue savoyarde est notre spécialité">
            </label>
        </p>
        <p>
            <label>
                Parcours produit phare :
                <input type="text" [formControl]="parcoursProduitPhare" placeholder="Ex : Le fromage utilisé pour la fondue provient d'un agriculteur locale du coté de Mons">
            </label>
        </p>
        <p>
            <label>
                Page facebook :
                <input type="text" [formControl]="urlPageFacebook" placeholder="Ex : https://www.facebook.com/ChamonixFans/">
            </label>
        </p>
    </form>
    <h3>Photo(s) :</h3>
    <div *ngIf="commerce">
        <div *ngIf="commerce.imageCommerce">
            <div *ngFor="let photo of commerce.imageCommerce">
                <img class="images" src="{{photo.url}}"/>
                <button (click)="deleteImage(photo.idImageCommerce)">Supprimer</button>
            </div>
        </div>
    </div>

    <div>
        <!--- upload d'une image --->
        <form [formGroup]="uploadImage" method="POST" enctype="multipart/form-data">
            <div>
                <p>Upload one or more files using this form:</p>
                <input type="file" [formControl]="file"/>
                <button (click)="upload()">Upload</button>
            </div>
        </form> 
    </div>

    <div *ngIf="commerce">
        <div *ngIf="commerce.actualite">
                <app-actualite [actualite]='commerce.actualite' [idCommerce]='commerce.idCommerce'></app-actualite>
        </div>
        <div *ngIf="commerce.openingPeriod">
            <app-horaire [openingPeriod]='commerce.openingPeriod' [idCommerce]='commerce.idCommerce'></app-horaire>
        </div>
    </div>
    <div class="buttonFlex">
        <button class="btn btn-lg btn-primary" (click)="save()" [disabled]="!editCommerceForm.valid">Enregistrer</button>
        <button class="btn btn-lg btn-primary" (click)="goBack()">Retour</button>
        <button *ngIf="commerce" class="btn btn-lg btn-primary" (click)="delete()">Supprimer</button>
    </div>
</div>
