<div class="login-popup-wrap new_login_popup"> 
  <div class="login-popup-heading text-center">
      <h4><i class="fa fa-lock" aria-hidden="true"></i> Login </h4>                        
  </div>
                          <!--<form accept-charset="utf-8" method="post" action="">-->
  <form [formGroup]="loginForm">
    <div class="form-group">
        <label>
                Login :
                <input class="form-control" type="text" formControlName="login" required name="login" placeholder="Adresse mail">
        </label>
    </div>
    <div class="form-group">
            <label>
                    Mot de passe :
                    <input class="form-control" type="password" formControlName="motDePasse" required placeholder="Mot de passe" name="password">
            </label>
    </div>
      <button (click)='checkUser()' [disabled]="!loginForm.valid" type="submit" class="btn btn-lg btn-primary btn-block" name="submit" value="1" routerLink="/connecte">Se connecter</button>
  </form>
  <div class="form-group text-center">
  <a class="pwd-forget" href="javascript:void(0)" id="open_forgotPassword">Mot de passe oublié ?</a>
  </div>
  <div class="text-center">Pas encore enregistré ? <a class="pwd-forget" href="javascript:void(0)">Envoyer</a> nous un mail pour obtenir votre compte !</div>
</div>
