<h3>{{title}} :</h3>

<div class='card-body'>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='commerces && commerces.length'>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Modifier / Supprimer</th>
          </tr>
        </thead>
        <tbody class="commerces">
            <tr *ngFor='let commerce of commerces'>
                <td>{{ commerce.nomCommerce}}</td>
                <td>{{ commerce.adresse.rue}},  {{commerce.adresse.numero}}</td>
                <td><a routerLink="/editer/{{commerce.commerceId}}">Éditer</a></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <button class="btn btn-lg btn-primary btn-block" routerLink="/editer/">Ajouter un commerce</button>
  </div>