<h3>{{title}} :</h3>

<div class='card-body'>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='commerces && commerces.length'>
        <thead>
          <tr>
            <th>Commerce ID</th>
            <th>Nom</th>
            <th>Modifier</th>
          </tr>
        </thead>
        <tbody class="commerces">
            <tr *ngFor='let commerce of commerces'>
                <td>{{ commerce.commerceId }}</td>
                <td>{{ commerce.nomCommerce | lowercase }}</td>
                <td><a routerLink="/editer/{{commerce.commerceId}}">Éditer</a></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <button class="btn btn-lg btn-primary btn-block">Ajouter un commerce</button>
  </div>