<div *ngIf="openinPeriod">
  <h2>IdHoraire : {{elem.idHoraire}}</h2>
</div>
<div *ngIf="!openinPeriod">
  <h2>Nouvelle plage horaire</h2>
</div>
<div>
  <form [formGroup]="editOpeningPeriod">
      <p>
          <label>
              Heure de début :
              <input type="text" formControlName="start">
          </label>
      </p>    
      <p>
          <label>
              Heure de fin :
              <input type="text" formControlName="end">
          </label>
      </p>
      <p>
          <label>
              Jour :
              <input type="text" formControlName="day">
          </label>
      </p>
  </form>

  <div class="buttonFlex">
      <button class="btn btn-lg btn-primary" (click)="save()">Enregistrer</button>
      <button class="btn btn-lg btn-primary" (click)="goBack()">Retour</button>
  </div>
</div>